* {
    margin: 0;
}

body {
    background-color: #f5f6fa;
}

.app {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #ddcbcb;
}

.app_graph {
    flex-grow: 1;
}

.app__dropmenu {
    background-color: white;
  }

.app__leftSide {
    flex: 0.9;
}

.app_cc > h3 {
    margin-bottom: 25px;
}

.learnMoreDiv {
    margin-top: 20px;
}

.learnMoreDiv > h5 {
    padding-bottom: 17px;
}

.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.app__header h1 {
    font-size: 35px;
}

.app__stats {
    display: flex;
    justify-content: space-between;
}

.app__cc > h3:last-of-type {
    margin-top: 1rem;
  }

@media (max-width: 990px) {
    .app {
        flex-direction: column;
    }
}